
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
  Outline CSS properties for debugging Bootstrap grid
*/
.col-outline {
  border: 1px solid black;
}

.row-outline {
  border: 1px solid red;
}

.container-outline {
  border: 1px dotted orangered;
}

//

body, html {
  font-family: $body-font;
  background-color: $background-color;
  color: $font-color;
  padding-top: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

h1 {
  margin-bottom: 1em;
  color: red;
}

#talent-portal-text-header-container {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: $heading-font;
  color: red;
  margin-top: 1.75em;
  margin-bottom: 1em;
}

.header-left, .header-right {
  font-size: 2.5em;
  letter-spacing: 3px;
}

#side-nav {
  position: fixed;
  padding-top: 10vh;
  padding-left: 0;
  padding-right: 0;
  background-color: $background-color-darker;
  height: 100vh;
  left: 0;
  top: 0;

}

#side-nav-body {
  width: 100%;
}

#side-nav img {
  width: 84%;
  display:block;
  margin: auto;
  margin-bottom: 9px;
}

#side-nav ul {
  padding-left: 0;
  list-style: none;
  width: inherit;
}

#side-nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: $font-color;
}

#side-nav li:hover, .currently-selected {
  background-color: #393939;
  color: red;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
}

#side-nav li span {
  padding-left: 2em;
  color: inherit;
}

#side-nav a {
  text-decoration: none;
  color: inherit;
}

#side-nav li span a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#logout-section {
  width: 80%;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

#logout-section img {
  display: inline;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 6px;
}

#logout-section ul, #logout-section ul a li span, #logout-section ul a li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#content-area {
  width: 80vw;
  margin-left: 200px;
  padding-top: 7vh;
}

.social-media-section {
  width: 100%;
  margin-left: 15px;
}

.social-media-icon {
  margin-right: 15px;
  font-size: 2em;
}

.social-media-icon:hover {
  color: red;
}

.icon-last {
  margin-right: 0;
}

.privacy-section {
  margin-bottom: 5px;
  font-size: 0.95em;
  margin-left: 15px;
}

.privacy-item:hover {
  color: red;
}

.horizontal-rule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #333, #ccc, #333);
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtle-anchor {
  color: $font-color;
  text-decoration-line: underline;
  text-underline: white;
}

.subtle-anchor:hover {
  color: white;
  cursor: pointer;
}

// Table customisations
.page-item.active .page-link {
  background-color: darkgray;
  border-color: black;
}

.page-link {
  color: black;
}

.page-link:hover {
  color: gray;
}

.admin-link {
  color: red !important;
}

// Alerts

.alert-success {
  border-color: #1d68a7;
  color: #1d68a7;
  background-color: white;
}

// Mobile mode
@media (max-width: 600px) {
    html, body {
        padding-top: 0;
    }

    h2 {
        transform: translate(15px, 0);
    }

    #side-nav {
        position: static;
        top: 0;
        transform: translate(-19px, 0);
    }

    #content-area{
        overflow: auto;
        width: 500px;
        margin-left: 300px;
        position: absolute;
    }
}
