@import "variables";


// Table-related
th, td {
  color: $font-color;
}

.dynamic-row td {
  padding-right: 2em;
  margin-bottom: 10px;
}

.dynamic-row {
  height: 80px;
}

.col_btn_delete {
  padding-top: 32px;
}

.dataTables_wrapper {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

// Specifics
#invoice_flavour {
  margin-bottom: 1em;
}

#invoice_stats {
  margin-bottom: 2em;
}

#form_create {
  margin-bottom: 5em;
}

#btn_add_purchase_order {
  height: 30px;
  padding-top: 3px;
  padding-bottom: 6px;
  margin-bottom: 1.4em;
  width: 202px;
  vertical-align: middle;
}

.row {
  padding-bottom: 10px;
}

#upload-prologue {
  margin-bottom: 33px;
}

.fa-plus {
  margin-left: 10px;
}