
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
  font-family: $body-font;
  color: $font-color;
  padding: 0;

  background: url("/images/login-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-container {
  width: 100vw;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.vertical-centered-containers {
  position: absolute;
  top: 20vh;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-bar {
  //height: 155px;
  height: 245px; // New requested height
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.brand-image-container {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);

  justify-content: center;
  align-items: center;
  height: 245px; // New requested height
}

.frame {
  position: relative;
  height: 225px;
  width: 440px;
}

.brand-image-container img {
  width: 430px;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-area {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);

  background-color: rgba(37, 37, 37, 0.85);

  justify-content: center;
  align-items: center;

  padding: 50px 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input, .form-group button {
  outline: none;
  background: none;
  color: inherit;
  border: 1px solid whitesmoke;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  width: 400px;
}

.form-group button {
  width: 80px;
}

label {
  display: block;
  top: 2px;
  vertical-align: middle;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -999;
}
