h2 {
  color: red;
  margin-top: 10px;
  margin-bottom: 17px;
}

#btn_submit {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0);
}

#btn_submit:hover {
  color: black;
  background-color: white;
}

#cv_upload_section {
  margin-top: 20px;
}

#required_flavour_text {
  margin-bottom: 30px;
}

#user_profile_picture {
  width: 200px;
  height: 200px;
  border: #1b1e21 2px solid
}

#btn_remove_pfp {
  display: block;
  margin-top: 20px;
}

#please-ensure-message {
  margin-left: 13px;
}

.label-block {
  display: block;
}

.required span {
  color: red;
}